body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Arial', sans-serif;
}

.title-image {
  position: absolute;
  top: 138px; /* 标题图片距离页面顶部的距离 */
  left: 50%;
  transform: translateX(-50%); /* 水平居中 */
  max-width: 570px; /* 控制标题图片的宽度 */
}

.subtitle-image {
  position: absolute;
  top: 222px; /* 副标题图片距离页面顶部的距离 */
  left: 50%;
  transform: translateX(-50%); /* 水平居中 */
  max-width: 440px; /* 控制副标题图片的宽度 */
}

.apple-img {
  position: absolute;
  top: 300px; /* 设置 apple.png 图片的位置 */
  left: 50%;
  transform: translateX(-50%);
  width: 225px; /* 根据需要调整 apple.png 的大小 */
}

#question-container {
  position: absolute;  /* 绝对定位，防止位置改变 */
  top: 585px;  /* 根据页面需求设置固定的 top 值 */
  left: 50%;  /* 水平居中 */
  transform: translateX(-50%);  /* 确保容器水平居中 */
  font-size: 1.5rem;
  color: #1f4e7a
}

#question {
  font-size: 1.5rem;
  border: none;
  border-bottom: 2px solid #1f4e7a;  /* 下划线样式 */
  background: none;
  outline: none;
  width: 210px;
  text-align: center;
}


#initial-screen {
  background-color: #cde7ff; /* 设置背景颜色为 #cde7ff */
  width: 100vw; /* 全屏宽度 */
  height: 100vh; /* 全屏高度 */
  position: relative; /* 保证内部元素的绝对定位相对于这个容器 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#answer-screen {
  text-align: center;
  
}


canvas {
  display: block;
}
