/* fix the canvas tp the window, and place it behind the content*/
canvas{
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
}

h1{
    position: absolute; /* 使用绝对定位 */
    top: 120px; /* 距离页面顶部50像素 */
    left: 60px; /* 距离页面左边100像素 */
    right: 900px;
    color:white;
    font-family: 'Raleway', sans-serif;
    font-size: 50%;
    opacity: 0.8;

}